.foto {
    width: 389px;
    height: 461px;
}


.button{
width: 150px;
height: 50px;
background-color: #5EAFF4;
border-radius: 10px;
color: white;
shape-outside: none;
font-weight: 400;
font-size: 14px;
text-align: center;
}

.padding{
    padding-top: 150px;
    padding-bottom:  179px;
}

.banner-project {
    width: 100%;
    height: 625px;
    
}

.icon{
    height: 40px;
    width: 40px;
    color: #D6D6D6;
}

.gradient{
    background: rgb(255,0,153);
background: linear-gradient(276deg, rgba(255,0,153,1) 0%, rgba(94,175,244,1) 100%);

}
/* style="color: #5EAFF4;" */

text{
	background: linear-gradient(276deg, rgba(255,0,153,1) 0%, rgba(94,175,244,1) 100%);
    -webkit-backdrop-clip:text;
    -webkit-text-fill-color:transparent;
	background-clip: text;
}
