:root {
  --primary: #00c45a;
  --text: #5595b2;
  --black: #140600;
  --bg: #e0eaff;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: var(--bg);
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background: #e0eaff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar .navbar-logo img {
  width: 40px;
  height: 45px;
}

.navbar .navbar-nav a {
  color: var(--black);
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin: 0 16px;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--black);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

#hamburger-menu {
  display: none;
}
/* Navbar end */

/* Hero start */
.hero {
  padding: 1.4rem 7%;
}
.hero .grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.hero .grid-container .item2 img {
  float: right;
  width: 90%;
  height: 40%;
}

.hero .grid-container .item1 h6 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-bottom: 12px;
}

.hero .grid-container .item1 h1 {
  font-size: 55px;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}

.hero .grid-container .item1 p {
  color: var(--text);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 30px;
}

.hero .grid-container .item1 .row .cta {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 18px;
  color: white;
  background-color: var(--primary);
  border-radius: 0.5rem;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-right: 28px;
}

.hero .grid-container .item1 .row .sosmed {
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 18px;
  color: var(--primary);
  background-color: var(--bg);
  border-radius: 0.5rem;
  align-items: center;
  /* box-shadow: 1px 1px 3px rgba(233, 233, 247, 0.5); */
}

.hero .grid-container .item1 .row .sosmed:hover {
  padding: 1rem 1rem;
  font-size: 18px;
  color: var(--primary);
  background-color: white;
  border-radius: 0.5rem;
  align-items: center;
  /* box-shadow: 1px 1px 3px rgba(233, 233, 247, 0.5); */
}

/* Hero end */

/* Reasonwht start */
.reasonwhy {
  padding: 1.4rem 7%;
}
.reasonwhy .grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.reasonwhy .grid-container .item2 img {
  float: right;
  width: 90%;
  height: 40%;
}

.reasonwhy .grid-container .item1 h6 {
  font-size: 18px;
  color: var(--text);
  font-weight: 500;
  margin-bottom: 18px;
}

.reasonwhy .grid-container .item1 h1 {
  font-size: 32;
  font-weight: bold;
  color: black;
  margin-bottom: 36px;
}
.reasonwhy .grid-container .item1 p {
  display: flex;
  font-size: 18px;
  color: var(--black);
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.reasonwhy .grid-container .item1 img {
  width: 28px;
}
/* Reasonwhy end */

/* Showcase start */
.showcase {
  padding: 0 7%;
}
.showcase h6 {
  color: var(--text, #5595b2);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: normal;
}

.showcase .headline {
  color: var(--black, #140600);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 32px;
}
.showcase .box {
  max-width: 100%;
  height: 450px;
  background: white;
  margin-bottom: 40px;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.showcase .box .row {
  display: flex;
}

.showcase .box .row .showcase-img {
  flex: 1 1 45rem;
}

.showcase .box .row .showcase-img img {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  object-fit: cover;
}

.showcase .box .row .content {
  flex: 1 1 35rem;
  display: block;
  align-items: center;
  padding: 2% 2%;
}

.showcase .box .row .content h1 {
  color: var(--black);
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 8px;
}

.showcase .box .row .content .role {
  color: var(--text);
  font-size: 18;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 22px;
}

.showcase .box .row .content .title {
  color: var(--black);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: normal;
}

.showcase .box .row .content .deskripsi {
  color: var(--text);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 150%; /* 24px */
}

.showcase .box .row .content a {
  display: flex;
  font-size: 18px;
  color: var(--primary);
  align-items: center;
  gap: 12px;
}

/* Showcase end */

/* passion start */

.passion {
  padding: 1.4rem 7%;
}

.passion h6 {
  color: var(--text, #5595b2);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: normal;
}

.passion .headline {
  color: var(--black, #140600);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 32px;
}

.passion .container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: stretch;
}

.passion .container .card {
  background-color: white;
  text-align: center;
  overflow: hidden;
  width: 40%;
  margin: 8px 10px;
  border-radius: 30px;
}

.passion .container .card .header img {
  width: 100%;
}

.passion .container .card .content {
  text-align: start;
  padding: 14px 16px 14px 16px;
}

.passion .container .card .content h2 {
  color: var(--black);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.passion .container .card .content p {
  color: var(--text);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
}

.passion .container .card .content a {
  display: flex;
  align-items: center;
  color: var(--primary);
}

.passion .container .card .content span {
  margin-left: 8px;
}

/* passion end */

/* Footer */
footer {
  margin-top: 80px;
  height: 344px;
  background: linear-gradient(94deg, #360319 0%, #001234 100%);
  text-align: center;
  padding: 60px 16px 40px 16px;
  position: absolute;
}

footer .smalltext {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 18px;
}

footer h1 {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: linear-gradient(90deg, #4282ff 11.35%, #00c45a 95.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .row {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
}
footer .row img {
  width: 44px;
  margin-top: 24px;
  margin-bottom: 36px;
}

footer .copyright {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 40px;
}
/* Footer end */

/* Media queriees */

/* Laptop */
@media (max-width: 1366px) {
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav a {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav a.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: inline-block;
  }
}
/* Mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 40%;
  }

  #hamburger-menu {
    display: inline-block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--bg);
    width: 30rem;
    height: 100vh;
  }
}
